# Исключаем виртуальную среду
/WildTracker/
/venv/
/__pycache__/
# Исключаем временные файлы операционных систем
*.log
*.tmp
.DS_Store
# Исключаем временные файлы редакторов
*.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace
*.hml
