{% extends "base.html" %}

{% block title %}Связаться с нами - Brand{% endblock %}

{% block content %}
<header class="masthead" style="background-image:url('/static/assets/img/contact-bg.jpg');">
    <div class="overlay"></div>
    <div class="container text-center">
        <h1>Свяжитесь со мной</h1>
        <span class="subheading">Есть вопросы? Я готов ответить.</span>
    </div>
</header>

<div class="container my-5">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
            <p>Хотите связаться? Заполните форму ниже, чтобы отправить мне сообщение, и я свяжусь с вами как можно скорее!</p>
            <form id="contactForm" name="sentMessage" novalidate>
                <div class="form-floating mb-3">
                    <input type="text" id="name" class="form-control" required placeholder="Имя">
                    <label for="name">Имя</label>
                    <small class="form-text text-danger help-block"></small>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" id="email" class="form-control" required placeholder="Электронная почта">
                    <label for="email">Электронная почта</label>
                    <small class="form-text text-danger help-block"></small>
                </div>
                <div class="form-floating mb-3">
                    <input type="tel" id="phone" class="form-control" required placeholder="Номер телефона">
                    <label for="phone">Номер телефона</label>
                    <small class="form-text text-danger help-block"></small>
                </div>
                <div class="form-floating mb-3">
                    <textarea id="message" class="form-control" required placeholder="Сообщение" style="height: 150px;"></textarea>
                    <label for="message">Сообщение</label>
                    <small class="form-text text-danger help-block"></small>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>

<hr>

<footer>
    <div class='container text-center'>
        <ul class='list-inline mb-3'>
            <li class='list-inline-item'><a href="#"><i class='fa fa-twitter'></i></a></li>
            <li class='list-inline-item'><a href="#"><i class='fa fa-facebook'></i></a></li>
            <li class='list-inline-item'><a href="#"><i class='fa fa-github'></i></a></li>
        </ul>
        <p class='text-muted copyright'>Copyright &copy; Brand 2024</p>
    </div>
</footer>

<script src="/static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/js/script.min.js"></script>

{% endblock %}