<!DOCTYPE html>
<html lang="ru" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Блог - Brand</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/index.html">Бренд</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Переключить навигацию">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/index.html">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="/about.html">О нас</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact.html">Связаться с нами</a></li>
                <li class="nav-item"><a class="nav-link active" href="/post.html">Блог</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead" style="background-image:url('static/assets/img/post-bg.jpg');">
    <div class="overlay"></div>
    <div class="container text-center">
        <h1>Человек должен исследовать, и это исследование наивысшей степени</h1>
        <h2 class="subheading">Проблемы выглядят очень маленькими с высоты 150 миль</h2>
        <span class="meta">Опубликовано <a href="#">Start Bootstrap</a> 24 августа 2018 года</span>
    </div>
</header>

<article>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <p>Никогда в своей истории люди не могли по-настоящему представить мир как единое целое: единая сфера, глобус, обладающий качествами глобуса...</p>

                <h2 class="section-heading">Заголовок</h2>
                <p>Не может быть и речи о завершении «стремления к звездам». Как в переносном, так и в буквальном смысле это задача для целых поколений...</p>

                <figure>
                    <blockquote class="blockquote">
                        <p>Мечты вчерашнего дня — это надежды сегодняшнего дня и реальность завтрашнего дня. Наука еще не овладела пророчеством...</p>
                    </blockquote>
                </figure>

                <h2 class="section-heading">Стремление к звездам</h2>
                <p>По мере того как мы удалялись все дальше и дальше, Земля уменьшалась в размерах...</p>
                <a href="#"><img src="static/assets/img/post-sample-image.jpg" alt="Пример изображения" class="img-fluid"></a>
                <span class="text-muted caption">Посетить места и делать вещи, которые никогда не делались ранее — вот что значит жить.</span>

                <p>Космос — последняя граница. Это путешествия звездного корабля «Энтерпрайз»...</p>

                <p><span>Текст-заполнитель от </span><a href="http://spaceipsum.com">Space Ipsum</a><span>. Фотографии от </span><a href="https://www.flickr.com/photos/nasacommons/">NASA на The Commons</a>.</p>
            </div>
        </div>
    </div>
</article>

<footer>
    <div class="container text-center">
        <ul class='list-inline mb-3'>
            <li class='list-inline-item'><a href="#"><i class='fa fa-twitter'></i></a></li>
            <li class='list-inline-item'><a href="#"><i class='fa fa-facebook'></i></a></li>
            <li class='list-inline-item'><a href="#"><i class='fa fa-github'></i></a></li>
        </ul>
        <p class='text-muted copyright'>Copyright &copy; Brand 2024</p>
    </div>
</footer>

<script src="static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/js/script.min.js"></script>

</body>
</html> 